# Kubernetes config generation overrides
# role: ethpandaops.general.generate_kubernetes_config

# Override helm charts to exclude blockscout
gen_kubernetes_config_helm_charts:
  config:
    valuesTemplatePath: templates/config.yaml.j2
  checkpointz:
    valuesTemplatePath: templates/checkpointz.yaml.j2
    dependencies:
      - name: checkpointz
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.1.3
  dugtrio:
    valuesTemplatePath: templates/dugtrio.yaml.j2
    dependencies:
      - name: dugtrio
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.6
  faucet:
    valuesTemplatePath: templates/powfaucet.yaml.j2
    dependencies:
      - name: powfaucet
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.4
  forkmon:
    valuesTemplatePath: templates/forkmon.yaml.j2
    dependencies:
      - name: forkmon
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.1.5
  dora:
    valuesTemplatePath: templates/dora.yaml.j2
    additionalTemplates:
      "endpoints-cl.yaml": templates/dora-endpoints-cl.yaml.j2
      "endpoints-el.yaml": templates/dora-endpoints-el.yaml.j2
    dependencies:
      - name: dora
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 1.0.4
  forky:
    valuesTemplatePath: templates/forky.yaml.j2
    dependencies:
      - name: forky
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.2.0
  homepage:
    valuesTemplatePath: templates/testnet-homepage.yaml.j2
    dependencies:
      - name: testnet-homepage
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.2.3
  assertoor:
    valuesTemplatePath: templates/assertoor.yaml.j2
    dependencies:
      - name: assertoor
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 1.0.0
  tracoor:
    valuesTemplatePath: templates/tracoor.yaml.j2
    dependencies:
      - name: tracoor-single
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.5
  "{{ gen_kubernetes_config_ethereum_node_name }}":
    valuesTemplatePath: templates/ethereum-node.yaml.j2
    dependencies:
      - name: ethereum-node
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.27
        alias: "{{ gen_kubernetes_config_ethereum_node_name }}"
  erpc:
    valuesTemplatePath: templates/erpc.yaml.j2
    dependencies:
      - name: erpc
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.4
  spamoor:
    valuesTemplatePath: templates/spamoor.yaml.j2
    dependencies:
      - name: spamoor
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.1
  xatu-cannon:
    valuesTemplatePath: templates/xatu-cannon.yaml.j2
    dependencies:
      - name: xatu-cannon
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.2.2
  xatu-mimicry:
    valuesTemplatePath: templates/xatu-mimicry.yaml.j2
    dependencies:
      - name: xatu-mimicry
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.7
  xatu-cl-mimicry:
    valuesTemplatePath: templates/xatu-cl-mimicry.yaml.j2
    dependencies:
      - name: xatu-cl-mimicry
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.2
  chaos-mesh:
    valuesTemplatePath: templates/chaos-mesh.yaml.j2
    dependencies:
      - name: chaos-mesh
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.3
  syncoor-server:
    valuesTemplatePath: templates/syncoor-server.yaml.j2
    dependencies:
      - name: syncoor-server
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.1
  syncoor-web:
    valuesTemplatePath: templates/syncoor-web.yaml.j2
    dependencies:
      - name: syncoor-web
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.1
  xatu-relay-monitor:
    valuesTemplatePath: templates/xatu-relay-monitor.yaml.j2
    dependencies:
      - name: xatu-relay-monitor
        repository: https://ethpandaops.github.io/ethereum-helm-charts
        version: 0.0.1
